<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="O.O.S"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineOrderingSystem"
        tools:targetApi="31">
        <activity
            android:name=".activities.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditInfoActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecycleViewsCart"
            android:exported="false" />
        <activity
            android:name=".activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LandingPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_log_in_forms"
            android:theme="@style/Theme.OnlineOrderingSystem" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>